version: "3.9"

services:
  backend:
    build:
      context: ./server
    container_name: api-tester-server
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  frontend:
    build:
      context: ./client
    container_name: api-tester-client
    ports:
      - "51773:80"
    depends_on:
      - backend
